#details {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #aebdbe;
    line-height: 30px;
}

#mainTitle {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#smallTitle {
    text-align: center;
    margin-left: 80px;
    font-size: small;
}

#detailsPicture {
    margin-left: 3%;
    margin-right: 3%;
    float: left;
}

#detailsPicture img {
    max-width: 100%;
}

#someDetails {
    float: left;
}

#detailsDescription {
    vertical-align: top;
    margin-left: 3%;
    margin-right: 3%;
    overflow: hidden;
    min-width: 200px;
}

#numberLike, #someDetails {
    background-color: floralwhite;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
    width: 100%;
    margin-bottom: 30px;
}

#NLTitle， #SDTitle {
    margin-right: 20px;
}

#NLNumber {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: coral;
}

#SDCity, #SDContent, #SDCountry {
    font-size: large;
    margin-left: 20px;
}

#detailsIntroduction {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

button {
    width: 100%;
    color: chocolate;
    background-color: cornflowerblue;
    font-size: large;
    font-weight: bolder;
    border-radius: 10px;
}

#mid {
    overflow: hidden;
}

.invisible {
    visibility: hidden;
}